* {
	margin:0;
}

body.Palatino {
	font-family:Palatino; 
	font-size:16px; 
	margin: 20px 0px 20px 20px;
	line-height:24px; 
}

.huge {
	font-size:20px; 
	font-weight:bold; 
	color:red;
}

.large {
	font-size:18px; 
	font-weight:bold; 
	color:DarkCyan;
}

.bold {
	font-size:16px; 
	font-weight:bold; 
}

p {
	margin:9px; 
	line-height:24px;
}

li {
	line-height:24px; 
	margin:6px 0px;
}

div.txt {
	margin-left:16px; 
	
}

.base {
    background-color: lightgreen;
    color: red;
    border-radius: 9%;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
	font-size:12px; 
}